/**
 *	Versión 1.0.0
 */
@charset "utf-8";

/**
 *	Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/**
 *	Mobile
 */

/**	General */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/**	Body */

body{
    background-color: #134f5c;
    color: #d0e0e3;
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas: 'smt1' 'hdr' 'mn' 'ftr' 'smt2';
}

/**	Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

/**	Encabezados */

h1,
h2,
h3 {
    font-family: 'Montserrat';
    font-size: 3.6em;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}

h2,
h3 {
    margin: 1em 0;
    font-size: 3em;
    color: #134f5c;
}


/**	Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4em 2em;
    background-color: #fff;
}

ul,
ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: flex-start;
}

p,
ul li,
ol li {
    font-size: 2.4em;
    line-height: 1.5;
    text-align: left;
    color: #134f5c;
}

ul li,
ol li {
    margin-left: 2em;
}

p strong,
p em,
p span,
p a,
ul li strong,
ul li em,
ul li a,
ol li strong,
ol li em,
ol li a {
    font-size: 1em;
}

p a,
ul li a,
ol li a {
    color: #134f5c;
}

p strong,
ul li strong,
ol li strong {
    font-weight: 700;
}

p em,
ul li em,
ol li em {
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

label {
    font-size: 2.4em;
    line-height: 1.5;
    text-align: left;
    color: #134f5c;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0.5em 0;
    padding: 1em 2em;
}

legend {
    padding: 0 0.5em;
    font-size: 1.6em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    color: #134f5c;
}

input {
    margin: 0.5em 0;
    border: 1px solid #134f5c;
    border-radius: 0.5em;
    padding: 0 1em;
    font-size: 2.4em;
    line-height: 1.5;
    text-align: left;
    color: #134f5c;
}

button,
input[type='button'],
input[type='submit'] {
    margin: 0.5em 0;
    border: none;
    border-radius: 0.5em;
    padding: 0.25em 0.5em;
    background: #134f5c;
    cursor: pointer;
    font-size: 2.4em;
    line-height: 1.5;
    text-align: center;
    color: #d0e0e3;
}

input[type='button']:disabled,
input[type='submit']:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

form textarea {
    margin: 0.5em 0;
    border-radius: 0.5em;
    border: 1px solid #134f5c;
    padding: 0 0.5em;
    background: #d0e0e3;
    font-size: 1.6em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    color: #134f5c;
}

form select {
    margin: 0.5em 0;
    border-radius: 0.5em;
    border: 1px solid #134f5c;
    padding: 0 0.5em;
    background: #d0e0e3;
    font-size: 1.6em;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    color: #134f5c;
}

hr {
    margin: 1em 0%;
    width: 100%;
    height: 0.1em;
}

/*-------------------------------------------------- Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

footer ul li {
    font-family: 'Montserrat';
    font-size: 1.4em;
    line-height: 1.5;
    text-align: center;
    color: #d0e0e3;
}

footer ul li a {
    font-family: 'Montserrat';
    font-size: 1em;
    text-decoration: none;
    color: #d0e0e3;
}

/**	Overs */
p a:hover,
li a:hover,
button:hover,
input[type='button']:hover,
input[type='submit']:hover {
    opacity: 0.8;
}


/**	Carrito */

#minicarrito {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    width: 100%;
    background: rgba(19, 79, 92, 0.25);
}


#minicarrito + h2 {
    text-align: center;
}

#boton-carrito {
    font-size: 30px;
}

img {
    width: 100%;
    margin-bottom: 10px;
}

#divProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 60px auto;


}

.producto {
    max-width: 30%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
}
.precioProducto {
    font-weight: 700;
}
.boton-agregar {
    background-color: #5CAEBF;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
}
.boton-agregar:hover {
    cursor: pointer;
    opacity: .6;
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: #5CAEBF;
    padding-bottom: 5px;
}
.modal-carrito #salirCarrito {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2em;
    color: #5CAEBF;
    border: none;
    background-color: white;
}
.modal-carrito #salirCarrito:hover {
    cursor: pointer;
}
.modal-carrito #salirCarrito:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid #5CAEBF;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
